absl-py==1.0.0
appdirs==1.4.4
asgiref==3.3.4
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
Brotli==1.0.9
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
dash==2.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==4.4
decouple==0.0.7
distlib==0.3.1
Django==3.2.3
django-crispy-forms==1.12.0
django-environ==0.8.1
djangorestframework==3.12.4
filelock==3.0.12
Flask==2.0.3
Flask-Compress==1.10.1
flatbuffers==2.0
fonttools==4.29.1
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
httpie==2.4.0
idna==3.3
importlib-metadata==4.11.2
iniconfig==1.1.1
itsdangerous==2.1.0
Jinja2==3.0.3
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
numpy==1.22.2
nvidia-pyindex==1.0.9
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pbr==5.6.0
Pillow==9.0.1
pipenv==2020.11.15
plotly==5.6.0
pluggy==0.13.1
protobuf==3.19.4
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
Pygments==2.9.0
pyparsing==3.0.7
PySocks==1.7.1
pytest==6.2.4
pytest-django==4.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.8
six==1.16.0
sqlparse==0.4.1
stevedore==3.3.0
templates==0.0.5
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
toml==0.10.2
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==20.4.6
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==2.0.3
wrapt==1.13.3
zipp==3.7.0
zope.interface==5.4.0
